<body>
  <div class="hero">
    <br />
    <div class="frosty col-xs-10 col-xs-offset-1 text-center">
      <br />
      <h1 class="text-center">Welcome to Prankable!</h1>
      <br />
      <h2><%= link_to 'Prank Your Friends', "#", class: 'btn btn-primary' %></h2>
      <br /><br />
    </div>
  </div>
  <br />
  <div class="container">
    <div style="clear:both;"></div>
    <form accept-charset="UTF-8" class="simple_form signup-right" data-remote="true" id="new_user" method="post" novalidate="novalidate">
      <fieldset>
        <div class="row">
          <div id="form-layout" class="col-xs-8 col-xs-offset-2 text-center" style="padding:0px;">
            <div id="phone-layout" class="form-group">
              <h2>Get Prankable Now</h2>
              <br />
              <input type="tel" class="form-control btn-lg col-xs-5" id="phone" name="user[phone]" placeholder="+Your Friend's Number" style="border:1px solid #ccc;">
              <br />
              <input class="btn btn-warning btn-lg pa_track" id="submit-button" name="commit" style="text-transform:none;" type="submit" value="Get Prankable for Text">
            </div>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
  <br />
  
</body>