<body>
  <div class="booyah-box col-xs-10 col-xs-offset-1">
    <br />
    <h1 class="text-center">Want More?</h1>
    <br />
    <h2>Get unlimited access to the rest of our animal fact packs for only $0.99!</h2>
    <br />
    <h3>What you get: </h3>
    <h4>Dog fact prank script</h4>
    <h4>Llama fact prank script</h4>
    <h4>Frog fact prank script</h4>
    <h4>Panda fact prank script</h4>
    <h4>Sloth fact prank script</h4>
    <h4>Ostrich fact prank script</h4>
    <h4>Unlimited access to all new animal prank scripts we release in the future</h4>
    <br />
    <%= link_to 'Order Now', "#", class: 'btn btn-primary text-center' %>
    <br />
    <br />
  </div>
</body>